@import './node_modules/primeflex/primeflex.css';
@import './node_modules/primeicons/primeicons.css';


body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--p-primary-color);
  
  /* DM Sans, Poppins can also be considered */
  /* https://fonts.google.com/knowledge/introducing_type/introducing_variable_fonts */

  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

#app {
  overflow: auto;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: var(--p-colorScheme-color);
}

i {
  font-size: 1.2rem;
}


.inherit-dimension {
  width: 100%;
  height: 100%;
}


/* Add transition effect */
.fade-enter-active,
.fade-leave-active {
  transition: transform 0.25s ease;
}

.fade-enter,
.fade-leave-to {
  transform: translateX(100%);
}
